.App {
  text-align: center;
  background-color: lightgray;
}

.todo-container{
  width:  300px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: wheat;
}
.todo-item{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;

}
.todo-button{
   width: 100%;
   padding: 10px 20px;
   border: 10px;
   border: none;

   font-weight: bold;
  cursor: pointer;

}
